body {
  margin: auto;
  display: block;
}

.App {
  text-align: left;
}

.BookList {
  min-width: 500px;
}

aside {
  top: 2%;
  float: left;
  margin-left: 2%;
}

.App-main {
  float: left;
  top: 2%;
  margin-left: 2%;
}

.modal {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
}
